<%- include("partials/header.ejs") %>



  <h1>Share your thoughts!</h1>
  <form action="/submit" method="POST">
    <label for="thought">Thought</label>
    <input type="text" id="thought" name="thought" required><br><br>
    <label for="name">Your name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <input type="submit" value="Submit">
  </form>
  <form action="/delete" method="POST">
    <button>Delete Everything</button>
  </form>

  <% if (locals.input) {%>
    <ul>

        <% locals.input.forEach((currentInput)=> { %>
      <li>
        <p><%=currentInput.text %></p>
        <p><%=currentInput.name %></p>
        <p><%=currentInput.date %></p>
      </li>
        <%}) %>

    </ul>
<% }%>



<%- include("partials/footer.ejs") %>